<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>EcoGreenMart</title>
    {% load static %}
    {% include 'ecom/v2/base/load_css.html' %}
</head>

<body>
{% if user.is_authenticated %}
    {% include 'ecom/v2/base/header_after_login.html' %}
{% else %}
    {% include 'ecom/v2/base/header.html' %}
{% endif %}
<div class="container">
    <div class="row justify-content-center" style="padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <div class="col-sm-2 col-md-2 text-center">
            <img src="{{ customer_url }}" alt="profile pic" class="rounded-circle article-img" style="width: 72px; height: 72px;" />
            <blockquote style="margin-top: 20px;">
                <p style="font-weight: bold;">Name: {{ request.user }}</p>
                <small><cite title="Source Title">Address: {{ customer.address }} <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p><i class="glyphicon glyphicon-phone"></i>Phone: {{ customer.mobile }}</p>

<div style="text-align: center; margin: 20px;">
    <a href="/edit-profile">
        <button class="btn btn-primary" style="padding: 10px 20px; border-radius: 5px;">
            <span>Edit Profile</span>
        </button>
    </a>
</div>
        </div>
    </div>
</div>
<br>


{% include 'ecom/v2/base/footer.html' %}
{% include 'ecom/v2/base/js.html' %}
</body>

</html>