<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>Green Sync</title>
    {% load static %}
    {% include 'ecom/v2/base/load_css.html' %}
</head>

<body>
{% include 'ecom/v2/base/header.html' %}
<div class="container" style="margin:20px">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="box" method="post" style="padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                {% csrf_token %}
                <h3 class="text-center" style="margin-bottom: 20px;">Customer Login</h3>
                <p class="text-muted text-center" style="margin-bottom: 30px;"> Please enter your login and password!</p>
                <div class="form-group">
                    {% render_field form.username class="form-control" placeholder="Username" %}
                </div>
                <div class="form-group">
                    {% render_field form.password class="form-control" placeholder="Password" %}
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="Login" style="width: 100%;">
                </div>
            </form>
        </div>
    </div>
</div>


{% include 'ecom/v2/base/footer.html' %}
{% include 'ecom/v2/base/js.html' %}
</body>

</html>