<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>EcoGreenMart</title>
    {% load static %}
    {% include 'ecom/v2/base/load_css.html' %}
</head>

<body>

{% include 'ecom/v2/base/header_admin.html' %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
        <br>
      <div class="note">
        <h3>ADD PRODUCTS</h3>
      </div>
        <br>
      <div class="form-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {% render_field productForm.name class="form-control" placeholder="Product Name" %}
            </div>
            <div class="form-group">
              {% render_field productForm.description class="form-control" placeholder="Description" %}
            </div>
            <div class="form-group">
              {% render_field productForm.stock class="form-control" placeholder="Stock" %}
            </div>

          </div>
          <div class="col-md-6">
            <div class="form-group">
              {% render_field productForm.category class="form-control" placeholder="Category" %}
            </div>
            <div class="form-group">
              </div>


          </div>
          <div class="col-md-6">
            <div class="form-group">
              {% render_field productForm.price class="form-control" placeholder="Price" %}
            </div>
            <div class="form-group">
              {% render_field productForm.product_image class="form-control" placeholder="product_image" %}
            </div>


          </div>
        </div>
        <button type="submit" class="btn btn-success btnSubmit">Add</button>
      </div>
    </div>
  </div>
</form>


<br><br>
{% include 'ecom/v2/base/footer.html' %}
{% include 'ecom/v2/base/js.html' %}
</body>

</html>

