]<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>Green Sync</title>
    {% load static %}
    {% include 'ecom/v2/base/load_css.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

{% include 'ecom/v2/base/header_admin.html' %}

<div id="dashboard-container" style="width: 100%;text-align: -webkit-center;">
    <div style="max-width: 970px">
        {% include 'ecom/v2/admin/admin_dashboard_cards.html' %}
    </div>
</div>
<br><br>
<br><br>
<br><br>
<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading" id="recent-booking-heading" style="text-align:center;">
            <h6 class="panel-title">Recent Booking</h6>
        </div>
        <table class="table table-hover" id="dev-table">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Customer Mobile</th>
                    <th>Shipment Address</th>
                    <th>Product Name</th>
                    <th>Product Picture</th>
                    <th>Status</th>
                </tr>
            </thead>
            {% for product,customer,order in data %}
            <tr>
                {% for c in customer %}
                <td>{{ c.get_name }}</td>
                <td>{{ c.mobile }}</td>
                <td>{{ order.address }}</td>
                {% endfor %}
                {% for p in product %}
                <td>{{ p.name }}</td>
                <td><img src="{% static p.product_image.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
                {% if order.status == 'Pending' %}
                <td><span class="label label-info">{{ order.status }}</span></td>
                {% elif order.status == 'Delivered' %}
                <td><span class="label label-success">{{ order.status }}</span></td>
                {% elif order.status == 'Out for Delivery' %}
                <td><span class="label label-warning">{{ order.status }}</span></td>
                {% else %}
                <td><span class="label label-primary">{{ order.status }}</span></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </div>

    <!-- The popup -->
    <div id="adminPopup" class="popup">
        <div class="popup-content" id="popup-content">
            <span class="close" id="close-popup">&times;</span>
            <h2>Admin Verification</h2>
            <p>Are you sure you want to enter the Admin Portal?</p>
            <form method="POST" action="{% url 'admin-portal' %}">
                {% csrf_token %}
                <button type="submit">Yes, I'm Admin</button>
            </form>
        </div>
    </div>
</div>

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<br><br>
{% include 'ecom/v2/base/footer.html' %}
{% include 'ecom/v2/base/js.html' %}

<script>
    // Get the modal
    var modal = document.getElementById("adminPopup");

    // Get the button that opens the modal
    var btn = document.getElementById("adminPortalBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementById("close-popup");

    // When the user clicks the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>
</body>

</html>
