{% for event in events %}
    <div class="col-lg-3 col-md-4 col-sm-6 mix">
        <div class="featured__item" id="event-item-{{ event.id }}">
            <div class="featured__item__pic set-bg" data-setbg="{{ event.category.image.url }}">
                <ul class="featured__item__pic__hover">
                    <li>
                        <label for="toggle-{{ event.id }}">
                            <i class="fa fa-info-circle" data-event-id="{{ event.id }}"></i>
                        </label>
                    </li>
                </ul>
            </div>
            <input type="checkbox" id="toggle-{{ event.id }}" class="toggle-details">
            <div class="featured__item__text" style="padding: 20px; text-align: center;">
                <h6><a href="#" style="color: #000; text-decoration: none;">{{ event.name }}</a></h6>
                <h5>{{ event.start_date }}</h5>
                {% if event.id in registered_event_ids %}
                    <a href="#" class="btn btn-danger cancel-registration" data-event-id="{{ event.id }}" data-event-name="{{ event.name }}">Cancel Registration</a>
                {% else %}
                    {% if event_statuses|get_item:event.id == 'full' %}
                        <button class="btn btn-secondary" disabled>Event Full</button>
                    {% else %}
                        <a href="#" class="btn btn-primary register-event" data-event-id="{{ event.id }}" data-event-name="{{ event.name }}">Register</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
{% if events.count == 0 %}
    <p>No events found</p>
{% endif %}
