<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>EcoGreenMart</title>
    {% load static %}
    {% include 'ecom/v2/base/load_css.html' %}
</head>

<body>
{% if user.is_authenticated %}
    {% include 'ecom/v2/base/header_after_login.html' %}
{% else %}
    {% include 'ecom/v2/base/header.html' %}
{% endif %}


<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>

        {% for category in categories %}
            <li><a href="#">{{ category.name }}</a></li>
        {% endfor %}
{#                        <li><a href="#">Fresh Meat</a></li>#}
{#                        <li><a href="#">Vegetables</a></li>#}
{#                        <li><a href="#">Fruit & Nut Gifts</a></li>#}
{#                        <li><a href="#">Fresh Berries</a></li>#}
{#                        <li><a href="#">Ocean Foods</a></li>#}
{#                        <li><a href="#">Butter & Eggs</a></li>#}
{#                        <li><a href="#">Fastfood</a></li>#}
{#                        <li><a href="#">Fresh Onion</a></li>#}
{#                        <li><a href="#">Papayaya & Crisps</a></li>#}
{#                        <li><a href="#">Oatmeal</a></li>#}
{#                        <li><a href="#">Fresh Bananas</a></li>#}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">

                <div style="margin-bottom: -45px;width: 100%; justify-content: center; align-items: center;">
                    <div style="width: 100%; max-width: 600px;">
                        {% include 'ecom/v2/base/search.html' %}
                    </div>
                </div>

                {% if products %}
                    <h3 style="text-align:center; color:yellow;">{{ word }}</h3>
                    <br>
                    <section class="featured spad" style="padding: 50px 0;">
                        <div class="container" style="max-width: 1200px; margin: 0 auto;">

                            <div class="row featured__filter">

                                {% for product in products %}
                                    <div class="col-lg-3 col-md-4 col-sm-6 mix">
                                        <div class="featured__item">
                                            
                                            <div class="featured__item__pic set-bg" data-setbg="{{ product.product_image.url }}">
                                                {% if product.stock > 0 %}
                                                    <ul class="featured__item__pic__hover">
                                                        
                                                        <li><a href="{% url 'add-to-cart' product.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                                                    </ul>
                                                {% else %}
                                                    <ul class="featured__item__pic__hover">
                                                        <li><i class="fa fa-ban"></i> Out of Stock</li>
                                                    </ul>
                                                {% endif %}
                                            </div>
                                            <div class="featured__item__text"
                                                 style="padding: 20px; text-align: center;">
                                                <h6><a href="#"
                                                       style="color: #000; text-decoration: none;">{{ product.name }}</a></h6>
                                                <h5>${{ product.price }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </section>
                {% else %}
                    <h3 style="text-align: center; color: yellow;">No Search Found</h3>
                {% endif %}


                <script>
                    {%if messages %}
                        {%for message in messages%}
                            alert('{{message}}');
                        {%endfor%}
                    {%endif%}
                </script>
                <br>
                <br>
                <br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
</section>


{% include 'ecom/v2/base/footer.html' %}
{% include 'ecom/v2/base/js.html' %}
</body>

</html>