{% load static %}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="{% static 'img/logo.png' %}" width="20%" alt="">
            <span>Green Sync</span></a>

    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="/dashboard">Home</a></li>
            <li><a href="./search">Shop</a></li>
            <li><a href="{% url 'blog-home' %}'">Forum</a></li>
            <li><a href="./event.html">Event</a></li>

        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> admin@greensync.in</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__auth">
                            <a href="/admin-view-booking"><i class="fa fa-shopping-cart"></i> Order</a>
                        </div>

                        <div class="header__top__right__auth">
                            <a href="/admin-products"><i class="fa fa-shopping-basket"></i> Products</a>
                        </div>
                        <div class="header__top__right__auth">
                            <a href="/admin-categories"><i class="fa fa-th"></i> Categories</a>
                        </div>
                        <div class="header__top__right__auth">
                            <a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/dashboard"><img src="{% static 'img/logo.png' %}" width="20%" alt="">
                        <span class="header__cart__price">Green Sync</span></a>
                </div>
            </div>

        </div>
    </div>
</header>