<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>Category List - EcoGreenMart</title>
    {% load static %}
    {% include 'ecom/v2/base/load_css.html' %}
</head>

<body>

{% include 'ecom/v2/base/header_admin.html' %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Category List</h3>
        </div>

<a href="/add-category" class="float" style="float: right">
    <i class="fa fa-plus my-float"></i> Add Category
</a>
        <br><br>
        <table class="table table-hover" id="dev-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td><a class="btn btn-primary btn-xs" href="{% url 'update-category' category.id %}"><span class="fa fa-edit"></span></a></td>
                    <td><a class="btn btn-danger btn-xs" href="{% url 'delete-category' category.id %}"><span class="fa fa-trash"></span></a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No categories found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<br><br>
{% include 'ecom/v2/base/footer.html' %}
{% include 'ecom/v2/base/js.html' %}
</body>

</html>