<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>EcoGreenMart</title>
    {% load static %}
    {% include 'ecom/v2/base/load_css.html' %}
</head>

<body>
{% include 'ecom/v2/base/header_after_login.html' %}


<div class="container" style="padding:20px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Cart</h3>
            <br>
        </div>
        <table class="table table-hover" id="dev-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Description</th>
                <th>Quantity</th>

            </tr>
            </thead>
            <h2>Your Cart</h2>

            {% for p in products %}
            {% if p %}
        
                <tr>
                    <td> {{ p.product.name }}</td>
                    <td><img src="{{  p.product.product_image.url }}" alt="product picture" height="40px" width="40px"/>
                    </td>
                    <td>{{ p.product.price }}</td>
                    <td>{{ p.product.description }}</td>
        
                    <!-- Update Quantity Column -->
                    <td>
                        <a class="btn btn-default btn-xs" href="{% url 'decrease-quantity' p.product.id %}">
                            <i class="fa fa-minus"></i>
                        </a>
                        {{ p.quantity }}
                        <a class="btn btn-default btn-xs" href="{% url 'increase-quantity' p.product.id %}">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>
        
                    <td><a class="btn btn-danger btn-xs" href="{% url 'remove-from-cart' p.product.id %}"> <i
                            class="fa fa-trash"></i></a>
                    </td>
        
                </tr>
            {% else %}
                    <br><br><br>
                    <h1>no products</h1>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
<div style="text-align: center;">
    <!-- Total button -->
<button class="btn btn-success">Total {{ total }}</button>

<!-- Purchase link styled as a button -->
<a href="/customer-address" class="btn btn-success">Purchase</a>
</div>

<br><br><br>

{% include 'ecom/v2/base/footer.html' %}
{% include 'ecom/v2/base/js.html' %}
</body>

</html>