<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>EcoGreenMart</title>
    {% load static %}
    {% include 'ecom/v2/base/load_css.html' %}
</head>
<script>
        function checkStockAndPurchase() {
            const outOfStockProducts = {{ out_of_stock_products|length }};
            if (outOfStockProducts > 0) {
                alert('Few products in your cart are out of stock. Please remove the items or try reducing the quantity !');
            } else {
                window.location.href = '/customer-address';
            }
        }
    </script>
<body>
{% include 'ecom/v2/base/header_after_login.html' %}


<div class="container" style="padding:20px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Cart</h3>
            <br>
        </div>
        <table class="table table-hover" id="dev-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Availability</th>
            </tr>
            </thead>
            {% for p in products %}
            {% if p %}
        
                <tr>
                    <td> {{ p.product.name }}</td>
                    <td><img src="{{  p.product.product_image.url }}" alt="product picture" height="40px" width="40px"/>
                    </td>
                    <td>{{ p.product.price }}</td>
                    <td>{{ p.product.description }}</td>
        
                    <!-- Update Quantity Column -->
                    <td>
                        <a class="btn btn-default btn-xs" {% if p.quantity > 1 %} href="{% url 'decrease-quantity' p.product.id %}" {% endif %}>
                            <i class="fa fa-minus"></i>
                        </a>
                        {{ p.quantity }}
                        <a class="btn btn-default btn-xs" {% if p.product.stock >= p.quantity %} href="{% url 'increase-quantity' p.product.id %}" {% endif %}>
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>
                        {% if p.product in out_of_stock_products %}
                            <td>
                            <p style="color: red;">Out of Stock</p>
                            </td>
                            {% else %}
                            <td>
                            <p style="color: green;">In Stock</p>
                            </td>
                        {% endif %}


                    <td><a class="btn btn-danger btn-xs" href="{% url 'remove-from-cart' p.product.id %}"> <i
                            class="fa fa-trash"></i></a>
                    </td>
        
                </tr>
            {% else %}
                    <br><br><br>
                    <h1>no products</h1>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
<div style="display: flex; justify-content: center; align-items: center; text-align: center;">
    <!-- Total amount -->
    <p style="margin-right: 20px; margin-top: 15px">Total ${{ total }}</p>
    <!-- Purchase link styled as a button -->
    <button class="btn btn-success" onclick="checkStockAndPurchase()">Purchase</button>
</div>

<br><br><br>

{% include 'ecom/v2/base/footer.html' %}
{% include 'ecom/v2/base/js.html' %}
</body>

</html>